<h1><strong>Painel Administrativo</strong></h1>
<br>
<p><strong>Cadastramento</strong></p>
<br>
<%= link_to 'Tipos de Cozinhas', cuisines_path %>
<br>
<%= link_to 'Preferências de Comida', preferences_path %>
<br>
<%= link_to 'Tipos de Comida', types_path %>
<hr>
<p><strong>Visualização de Receitas</strong></p>
<br>
<%= link_to 'Tipos de Cozinha',  view_recipes_categories_type_cuisine_path %>
<br>
<%= link_to 'Tipos de Comida',  view_recipes_categories_type_food_path %>
<br>
<%= link_to 'Tipos de Preferência',  view_recipes_categories_type_preference_path %>